- cache(cache_name('metas')) do
  %meta(charset="utf-8")
  %meta(name="author" content="#{APP.author}")
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %meta(content="index, follow" name="robots")
  %meta(name="google-site-verification" content="LYFmUfjvH4MDHaLGoHGVVVJKNgTR_xoZjdSQoSoH5t4")
