#mobile
  .container
    .row
      .col-xs-6.hidden-xs.left
        = render 'home/subscribe_form'
      .col-sm-6.col-xs-12
        .info
          %h3
            = t('home.newsletter.title')
          %p
            = t('home.newsletter.description_html')
