%form.form
  .form-group
    %input(type='text' id='dashboard-input' name='dashboard-input' autofocus='true' class="form-control input-lg js-enter" required)
  .form-group
    %input{type: 'submit', name: 'dashboard-submit', id: 'dashboard-submit', class: 'btn btn-primary js-submit', value: t('form.create')}
