- cache(cache_name('bot')) do
  #showcase
    .container.project
      %h2.bottom-spacer Bot
      %h3= GetLinkMetadata::USER_AGENT

      %ul
        %li This bot fetches <em>meta</em> data information about a website just for the purpose of showing contextual information about a link.
