- cache(cache_name('privacy_policy')) do
  #showcase
    .container.project
      %h2.bottom-spacer Privacy Policy
      %p Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
      %h3 What information do we collect?
      %ul
        %li We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
        %li We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
        %li We collect information from you when you register on our site.
        %li When registering on our site, as appropriate, you may be asked to enter your: name or e-mail address.
        %li Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
        %li Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
        %li We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
        %li We will make readily available to customers information about our policies and practices relating to the management of personal information.

      %h3 How do we protect your information?
      %ul
        %li We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.
        %li We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
        %li We will only retain personal information as long as necessary for the fulfillment of those purposes.

      %h3 Do we use cookies?
      %ul
        %li Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.
        %li We use cookies to understand and save your preferences for future visits and keep your session while you are surfing the web.

      %h3 Do we disclose any information to outside parties?
      %ul
        %li We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.

      %h3 Your Consent
      %ul
        %li By using our site, you consent to our websites privacy policy and #{link_to(t('terms_of_use'), tos_path)}.

      %h3 Changes to our Privacy Policy
      %ul
        %li If we decide to change our privacy policy, we will send an email notifying you of any changes.

      %h3 Contacting Us
      %ul
        %li If there are any questions regarding this privacy policy you may contact us using #{link_to "this form",  support_index_path}.
